*{
  outline: none; 
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
}

body{
  margin: 0%; 
  padding:0%; 
  width :100%;
  background-color: #000000;
  overflow: hidden;
}

.container {
  overflow: hidden;
  display: grid;
  flex-wrap: wrap;
  border: 1px solid red;
  height: auto;
  align-self: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
}



/* background body */

.background-light {
  position: absolute;
  width: 400px;
  height: 400px;
  opacity: 0.3;
  filter: blur(120px);
}
.light1 {
  background: #A855F7;
  animation: mv1 8s infinite ;
   left: 0;
  top: 0; 

}
.light2 {
  background: #F472B6; 
  animation: mv2 10s infinite ;
  right: 0;
  bottom: 0;

}
/* end background */



.nav{
  height: 50px;
  width: 100%;
  display: grid;
  place-items: center;
  font-size:30px;
  color: aliceblue;
  text-decoration: underline;
  box-shadow: 1px 0px 10px  rgb(15, 15, 15);


}

/* ------ start section 1 */
.section{
    background-color: rgb(117, 106, 106);
    min-height: 180px;
    max-width: 70%;
    width: 70%;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    margin-top: 4%;
    box-shadow: 0px 0px 10px 5px rgb(58, 53, 57);
  }

.form{
  display: flex;
  flex-direction: column;
  margin: 10px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.form div {
  border: 1px solid black;
  width: 100%;
  min-height: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  color: azure;
  margin-bottom: 20px;
  border: none;
  outline: none;
}

.form div label{
  min-width: 30%;

  font-size:large;
  color: azure;
  align-content: center;
  text-decoration:underline ;
}

.form div  span {
  display: flex;
  flex: 1;
  height: 35px; 
  width: 60%;
}

.form div textarea  {
  flex: 1;
  box-sizing: border-box; 
  align-content: center;
  border-radius: 5px;
  border-color: azure;
  color: rgb(87, 80, 80);
  resize: none;
}

.form div select {
  display: flex;
  flex: 1;
  height: 35px; 
  border-radius: 5px;
  border-color: azure;
  font-size: large;
  color: rgb(87, 80, 80);
}
.form div select option{
  color: rgb(87, 80, 80);
}

.btn{
  border-radius: 10px;
  border: none;
  color: rgb(87, 80, 80);
  padding: 10px ;
  cursor: pointer;
  margin-top: 15px;
  font-size: large;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  background: #403c44;
  color: white;
  animation-play-state: paused;
  
}
.btn:active {
  transform: translateY(2px);
  background: #555454;
  animation-play-state: paused;
}


/* start section 2 */
.section2{
  overflow: hidden;
  display: flex;
  flex: 1;
  height: 250px;
  border-radius: 0%;
  background-color: rgb(117, 106, 106);
  padding: 10px;
  margin-top: 4%;
  box-shadow: 0px 0px 10px 5px rgb(58, 53, 57);
}

.output{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: rgb(255, 255, 255);
  margin-top: 0%;
  overflow: auto;
  scroll-behavior: smooth;
}


/* start footer */

.footer{
  display: flex;
  justify-content: center;
  margin-top: 4%;
  min-height: 50px;
  text-decoration: underline;
  color: rgb(87, 80, 80);
  box-shadow: 1px 0px 10px  rgb(15, 15, 15);
}




@keyframes mv0 {
  0%{
    transform: translate(0%, -100%);
    transition: 2s;
  }
  60%{
    transform: translate(0%, 31.7%);
    transition: 2s;
  }

}


@keyframes mv1 {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(50%, 50%);
  }
}

@keyframes mv2 {
  0%, 100% {
    transform: translate(50%, 50%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
}




 @media (width <= 400px)   {
  .nav, .footer p{
      font-size: 13px;
      }

    }
    
