<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="author" content="ussefbouchraa">
  <meta name="keywords" content="ascii-art-web">
  <meta name ="description" content="????">

  <title>test animation</title>
  <link rel="stylesheet" href="style.css">
</head>

<body class="container">
    <div class="background-light light1"></div>
    <div class="background-light light2"></div>
    <nav class="nav">ASCCI-ART-WEB</nav>
    <section class="section" style="animation: mv0 4s;">
        <form class="form">  
            <div><label >INPUT:</label> <input type="text" placeholder=".........."></div>
            <div>
                <label>BANNER:</label> 
                <select name="Files" >
                    <option value="Standard">Standard</option>
                    <option value="Shadow">Shadow</option>
                    <option value="Thinkertoy">Thinkertoy</option>
                </select>
            </div>
            <button class="btn" > Run</button>
        </form>
</section>

<section class="section section2">
    <textarea class="output" ></textarea>
</section>

    </body>
</html>
